*{
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;

}
.dark-theme{
    --primary-color: black;
    --secondary-color: white;
}
:root{
    --primary-color: white;
    --secondary-color: black;
}
body{
    color: var(--secondary-color);
    background-color: var(--primary-color);
}
header{
    height: 100vh;
    overflow: hidden;
}
.bakc-video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    object-fit: cover;
    height: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: var(--primary-color);
    
}

nav .logo img{
    width: 150px;
    
}
nav .menu{
    display: flex;
    
}
.menu li a{
    text-decoration: none;
    color: var(--secondary-color);
}
.menu li{
    margin:0px 20px;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    

}
.menu li a:hover{
    color: rgb(255, 123, 0);
}
.menu li:hover{
    transform: scale(1.2);
    transition: all .5s;

}
.moon{
    display: none;
}
.hero-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.hero-section h1{
    
    font-size: 65px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    color: white;
   
    
}
.hero-section p{
    color: white;
    font-size: 40px;
    margin-bottom: 20px;

}
.hero-section .btn{
 padding: 15px 30px;
 border: none;
 color: var(--primary-color);
 border-radius: 15px;
 background-color: #FFE53B;
 background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
 
}
.hero-section .btn:hover{
    transform: scale(1.2);
    transition: all .5s;
}
.hero-section .btn a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 23px;
    padding: 10px 20px;
}
main{
    margin: 40px 40px;
    display: flex;
}
.main-text{
    width: 50%;
    padding-top: 40px;
    color: var(--secondary-color);
}
.main-text h1{
    margin-bottom: 30px;
}
.main-text button a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
}
.main-text button{
padding: 10px 20px;
border-radius: 5px;
border: none;
margin: 30px 10px;
background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);


}
.main-text  button:hover{
    transform: scale(1.1);
    transition: all .5s;
}
.main-img{
    width: 50%;
    
}
.main-img img{
    width: 95%;
    height: 600px;
    padding-left: 40px;
    border-top-left-radius: 150px;
}
.slider{
    margin: 80px 0px;
 height: 200px;
 background-color: #FFE53B;
 background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);   
}
.slider .slide{
    display: flex;

}
.slider div{
    display: inline-block;
    margin: 50px;
    margin-top: 50px;
}
.slider div img{
    width: 100px;

}


.about-us{
    display: flex;
    margin: 70px 40px;
}
.about-us div{
    width: 50%;
    color: var(--secondary-color);
}
.about-us div img{
    border-top-left-radius: 150px;
    width: 95%;
    padding-left: 40px;
}
.about-us div h1{
    color: var(--secondary-color);
    margin: 30px 0px;
    font-size: 32px;
}
.about-us div button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    margin: 30px 10px;
    background-color: #FFE53B;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);   
}
.about-us div button a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 18px;
}   
.about-us div button:hover{
    transform: scale(1.1);
    transition: all .5s;
}
.services-text{
    margin: 40px;
}
.services-text h1{
    font-size: 32px;
    color: var(--secondary-color);
}
.services{
    margin: 40px;
    display: flex;
}
.services .service{
    color: var(--secondary-color);
    width: 33.33%;
    border-radius: 20px;
    z-index: 2;
    box-shadow: 0px 0px 2px 0px var(--secondary-color);
    padding-bottom: 30px;
}
.services .service:hover{
    box-shadow: 0px 0px 10px 5px #ffa33b;
    transition: all .5s;
}
.service{
    margin:20px;
    
}
.service h1{
    margin: 20px;
}
.service p{
    margin: 20px;
}
.service .img{
    padding: 10px;
    width: 100%;
}
.service .img img{
    width: 100%;
    border-radius: 20px;
}
.service .btn{
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    border: none;
    background-color: #FFE53B;
    margin-top: 10px;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%); 
    width: 120px;
    margin-left: 20px;
    
}
.service .btn a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    
}
.social-media{
    background-color: #000037;
    padding-top: 80px;
    height: 300px;

}
.social-media h1{
    text-align: center;
    font-size: 32px;
    color: white;
    margin-bottom: 20px;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-links i{
    color:white;
    margin: 10px;
    font-size: 40px;
}
.contact-img{
    height: 50vh;
    background: url("./assets/melinda-gimpel-5Ne6mMQtIdo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 40px;
}
.contact-form{
    max-width: 700px;
    min-width: 300px;
    padding: 20px;
    font-size: 18px;
    color: var(--secondary-color);
    z-index: 2;
    box-shadow: 0px 0px 5px 0px var(--secondary-color);
    margin: 20px;
    border-radius: 20px;
    margin: auto;
    
}
.contact-form:hover{
    box-shadow: 0px 0px 10px 5px #ffa33b;
}
.contact-form div input{
    width: 80%;
    background-color: var(--primary-color);
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    border: 1px solid var(--secondary-color);
    margin: 10px 0px;
    
}
.contact-form div input::placeholder{
    color: var(--secondary-color);
}
.contact-form div input:focus{
    box-shadow: 0px 0px 10px 0px #ffa33b;
    outline: none;
    border: none;
}
.contact-form div{
    margin: 10px 0px;
}
.contact-form textarea{
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    width: 80%;
    margin-top: 20px;
}
.contact-form div textarea:focus{
    box-shadow: 0px 0px 10px 0px #ffa33b;
    outline: none;
    border: none;
}
.contact-form .btn{
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #FFE53B;
    margin-top: 10px;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%); 
    width: 120px;
    
}
.contact-form .btn a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;   
}
hr{
    margin: 40px;
    height: 3px;
    background-color: var(--secondary-color);
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 50px ;
    
}
footer .logo img{
    width: 150px;
}
.services-footer{
    font-size: 18px;
}
footer div button{
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #FFE53B;
    margin-top: 10px;
    background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%); 
    width: 120px;
}
footer div button a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;   
}   
.rights{
    text-align: center;
    margin: 10px;
}
.bars{
    color: var(--secondary-color);
    display: none;
}
@media screen and (max-width:900px){
   
    .bars{
        display: inline-block;
    }
    nav label div{
        display: inline-block;
        margin: 0px 10px;
    }
    nav .menu{
        display: none;
        position: absolute;
        top: 65px;
        background-color: var(--primary-color);
        width: 100%;
        left: 0px;
    }
    nav .menu li{
        margin: 20px;
    }
    nav .menu li:hover{
        transform: scale(1);

    }
    nav .theme-logo{
        position: absolute;
        right: 45px;
    }
    .hero-section h1{
        font-size: 45px;
    }
    .hero-section p{
        font-size: 25px;
    }
    main{
        display: block;
    }
    main div{
        width: 100% !important;
    }
    main div img{
        border-radius: 0px !important;
    }
    .about-us{
        display: block;
    }
    .about-us div{
        width: 100%;
    }
    .about-us div img{
        border-radius: 0px;
    }
    .services{
        display: block;
    }
    .services .service{
        width: 60%;
        margin-bottom: 40px !important;
        margin: auto;
    }
}
@media screen and (max-width:730px) {
    footer{
        font-size: 16px;
    }
    .services .service{
        width: 70%;
    }
    .contact-form{
        margin: 0px 20px;
    }
}
@media screen and (max-width:630px) {
    .hero-section h1{
        font-size: 30px !important;
    }
    .hero-section p{
        font-size: 20px;
    }
    .services .service{
        width: 80%;
    }
    footer{
        display: block;
    }
    footer div{
        text-align: center;
        margin: 20px 0px;
    }
    
    
}
@media screen and (max-width:500px) {
    .hero-section h1{
        font: 25px;
    }
    .main-img img{
        display: none;
    }
    .about-us div img{
      width: 100%;
      padding: 0;
    }

    .services .service{
        width: 95%;
    }
    .social-media h1{
        font-size: 25px;
    }
    .slider div img{
        width: 50px;
    }
    .slider div{
        margin-top: 15px;

    }
    .slider{
        height: 100px;
        padding: 0;
    }
    .social-links i{
        font-size: 30px
    };
}